<mat-grid-list cols="3">

    <mat-grid-tile>
        <div class="border">
            <img src="../../assets/super-1.png" alt="">
            <p>SpiderMan</p>
            <h1>40</h1>
        </div>
        <div class="border">
            <img src="../../assets/super-4.png" alt="">
            <p>SpiderMan</p>
            <h1>40</h1>
        </div>
    </mat-grid-tile>



    <mat-grid-tile>
        <h1>0-5</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="border">
            <img src="../../assets/super-3.png" alt="">
            <p>SpiderMan</p>
            <h1>40</h1>
        </div>
        <div class="border">
            <img src="../../assets/super-2.png" alt="">
            <p>SpiderMan</p>
            <h1>40</h1>
        </div>
    </mat-grid-tile>

</mat-grid-list>